/* #region main containers */
h1.h2,h3,h4,h5,h6,p{margin:0;}

body {
  color: #434455;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  font-weight: regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
}

.container {
  width: 1158px; /* 1158px =  1128 + (2x15)*/
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;/* не учитывать падинг в общую ширину - накладывать поверх width */
  /* display: flex; */
}
/* #endregion */

/* -------- HEADER --------- */
.header{
  border-bottom: 1px solid #e7e9fc;
}
.container-header {
  width: 1158px;
  margin: 0 auto;
  padding: 0;
  box-sizing: content-box;/* не учитывать падинг в общую ширину - накладывать поверх width */
  display: flex;
  justify-content: space-between; /* Розподіляє елементи рівномірно, крайні по краях */
  padding: 0 15px
   
}

.nav {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

address {
  font-style: normal;
  font-family: "Roboto", sans-serif;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logotype-phrase-studio {
  color: #2e2f42; /*navy blue*/
}
.menu-nav {
  font-family: 'Raleway', sans-serif;
  margin-right: 0;
  font-size: 18px;
  letter-spacing: 2%;
  line-height: 24px;
  color: #2e2f42;
  display: flex;
  gap: 40px;
  

}
.menu-nav a {
  display: inline-block;
  padding: 24px 0 24px 0;
}
.menu-nav-li-a {
  margin-right: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  
}
.menu-nav-li-a:hover,
.menu-nav-li-a:focus {
  color: #404bbf;
}
.address {
  display: flex;
  justify-content: flex-end;
}
.address-ul {
  display: flex;
  gap: 40px;
  
}

.mailto {
  letter-spacing: 0.02em;
  padding: 24px 0;
  color: #434455;
}



.address-ul a {
  color: #434455;
  display: inline-block;
  padding: 24px 0px 24px 0px;
}
.address-ul a:hover,
.address-ul a:focus {
  /* letter-spacing: 0.02em; */
  color: #404BBF;
}
/* --------- END HEADER ------- */
.roboto {
  font-family: 'Roboto', serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}
.raleway {
  font-family: 'Raleway', serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* #region hero */
.hero {
  background-color: #2e2f42;
  background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg.jpg);
  padding: 188px 0;
  text-align: center;
  height: 600px;
}

.hero-title {
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 auto;
  max-width: 496px;
  display: block;
  margin-bottom: 48px;
}

.hero-button {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  max-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* #endregion hero */

/* SECTION 2 ------------------------------------------------------------*/
.section-two {
  padding: 120px 0;
}
.section-two-ul {
  display: flex;
  gap: 24px;
  flex-direction:row;
  margin: 0 auto;
  padding: 0;

  
}
.section-two-li {
   width: calc((100% - 72px) / 4);
}


.logotype {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  letter-spacing: 3%;
  line-height: 1.17;
  color: #2e2f42; /*navy blue*/
  font-weight: bold;
  text-transform: uppercase;
}

.main-adress {
  color: #434455; /*slate*/
  font-style: normal;
}

.footer-logotype-phrase-studio {
  color: #f4f4fd;
}

.section-feature {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.section-two-title {
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.section-two-p {
  letter-spacing: 0.02em;
}

/* SECTION 3 */
.container-column{
  display: flex;
  flex-direction: column;
}
.section-three {
  background-color: #F4F4FD;
  padding: 120px 0;

}

.team-list {
  display: flex;
  gap: 24px;
  margin: 0 auto;
  padding: 0;

  justify-content:space-between ;
}
.team-card {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);   
  box-sizing: border-box;


  border-radius: 0px 0px 4px 4px;
  padding: 0;
  margin: 0; 
  border: 0;
}

.team-card img {
  margin: 0;
  pad: 0;
  display: block;
  letter-spacing: 0;;
  width: 100%; 
}




.worker-bio {
  width: 264px; /* Явно задаем ширину */
  margin: 0 auto; /* Центрируем, если нужно */
  padding: 32px 0;
}

.worker-title {  
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
  margin-bottom: 8px;
}

.worker-p {
  letter-spacing: 0.02em;
  text-align: center;
}

.team-title {
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
  
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* SECTION 4 */

.section-four {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-list {
  display: flex;
   /* для переносу елементів списку на новий рядок якщо їм не вистачає місця в попередньому */
  flex-wrap: wrap;
  /* для визначення горизонтальних відступів між пунктами списку  */
  column-gap: 24px; 
  /* для визначення вертикальних відступів між елементами списку якщо вони переносяться на новий рядок */
  row-gap: 48px; 
  border:0;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

.portfolio-card {

  width: calc((100% - 48px) / 3); 
  /* overflow: hidden; */
   border:0;
   padding: 0;
   box-sizing: border-box;
}

.portfolio-card img {
  margin: 0;
  padding: 0;
  width: 100%;
}

.portfolio-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-card-about {
  padding: 32px 16px; /* для визначення відступів від країв контейнера */
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-card-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-card-title-four {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}
.portfolio-card-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

/* FOOTER */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-p {
  font-family: "Roboto",sans-serif;
  color: #f4f4fd;
  letter-spacing:2%;
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;;


}
.footer-a {
  display: inline-block;
  margin-bottom: 16px;
  text-transform: uppercase;


  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: #4d5ae5;




}
.container-block{
  display:block;
}